{% extends 'base.html' %}

{% block title %}Add Game{% endblock %}

{% block content %}
<div class="row">
	<form method="POST" action="{% url 'log.views.search_game' %}" class="form-inline">
		{% csrf_token %}
		{% include 'form.html' %}
		<div class="form-group">
			<button type="submit" class="btn btn-default">Search</button>
		</div>
	</form>
</div>

<div class="row">
	{% for r in results %}
		<div class="col-xs-6 col-md-3">
			<div class="thumbnail">
				<img src="{{ r.image.small_url }}">
				<div class="caption">
					<p><b>{{ r.name }}</b></p>
					<p><button id="{{ r.id }}" class="add btn btn-primary" role="button">Add</a>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

<script>
	$(document).ready(function() {
		$('.add').click(function() {
			$.ajax({
				url: "/add/"+$(this).attr('id'),
			}).done(function() {
			});
		});
	});
</script>
{% endblock %}